@if(investmentResult()?.length){
<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Investment Value</th>
      <th>Investment (Year)</th>
      <th>Total Interest</th>
      <th>Investment Capital</th>
    </tr>
  </thead>
  <tbody>
    @for(yearlyData of investmentResult(); track yearlyData.year){
    <tr>
      <td>{{ yearlyData.year }}</td>
      <td>{{ yearlyData.valueEndOfYear | currency }}</td>
      <td>{{ yearlyData.interest | currency }}</td>
      <td>{{ yearlyData.totalInterest | currency }}</td>
      <td>{{ yearlyData.totalAmountInvested | currency }}</td>
    </tr>
    }
  </tbody>
</table>
}@else {
<p class="center">Please enter your data and press 'Calculate'</p>

}
